body {
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    border: 2px solid black;
}

.display {
    display: flex;
    width: 320px;
    height: 100px;
    
}

.inputDiv {
    display: flex;
    flex-wrap: wrap;
    max-width: 320px;
    justify-content: center;
    align-items: center;
}

Button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    font-size: 28px;
}